#game_screen {
    width:          434px;
    margin:         0px 0px;
    padding:        0px;
}

#game_box {
    width: 436px;
    padding: 0px 0px;
    margin: 0px 0px 0px auto;
    float: left;
}

h2 {
    text-align:     center;
    padding:        0px 0px 10px 0px;
    margin:         0px;
}

#instructions {
    float: right;
    width: 350px;
    margin: 0px auto 0px 0px;
}

#screen {
    width: 900px;
    margin: 0px auto;
}
